---
layout: default
title: LIFE
permalink: /LIFE/
---
{% for post in site.categories.life %}
<a href="{{ post.url }}">
  <div class="post_block">
    <div class="row">
      <span class="title" href="{{ post.url }}">{{ post.title }}</span>
      <span class="time">{{ post.time }}</span>
    </div>
    {% if post.content contains '<!-- excerpt -->' %}
    <div class="excerpt">{{ post.content | split: '<!-- excerpt -->'  | first  }}</div>
    {% else %}
    <div class="excerpt">{{ post.excerpt | strip_html }}</div>
    {% endif %}
    <span class="more" href="{{ post.url }}"> MORE >> </span>
  </div>
</a>
{% endfor %}