<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Autumn {{ title }}</title>
    <link rel="stylesheet" href="{{ site.url }}/assets/styles/style.css">
    
</head>
<body>
    <div class="background"></div>
    <div class="header">
        <div class="title">
            Autumn
            <hr class="border"/>
            <hr class="border"/>
        </div>
        <ul class="nav">
            <li><a href="/">SRC</a></li>
            <li><a href="/LIFE">LIFE</a></li>
            <li><a href="/Tech">TECH</a></li>
            <li><a href="/FRIENDS">FRIENDS</a></li>
            <li><a href="/ABOUT">ABOUT</a></li>
        </ul>
    </div>
    
    {% if page.isIndex %}
    <div class="main" style="background:white">
        {{ content }}
        <span class="slogan">winter is coming.</span>        
        <span class="author">© CHRISTINE Z</span>
    </div>
    {% else %}
    <div class="main">
        {{ content }}
        <span class="slogan">winter is coming.</span>        
        <span class="author">© CHRISTINE Z</span>
    </div>
    {% endif %}
</body>
</html>